
.contenedor-tablero{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-botones{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

body{
    background-color: aqua;
}
.tabla{
    background-color: white;
}
